<a href="https://colab.research.google.com/github/josevitor676/Pandas_Aula/blob/main/Pandas_Aula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [1]:
from pymongo import MongoClient

####chave de autenticação Mongo

mongodb+srv://jose_vitor:<password>@cluster0.fxe5u6g.mongodb.net/?retryWrites=true&w=majority

In [3]:
client_db = MongoClient('mongodb+srv://jose_vitor:Presentes1@cluster0.fxe5u6g.mongodb.net/?retryWrites=true&w=majority')

In [4]:
bd = client_db.get_database('database_pandas')

In [5]:
collection = bd.collection_pandas

####Pegando a tabela em json

In [75]:
df_json = pd.read_json('perguntas_alunos.json')

In [82]:
df_json.head(18)

,0,1,2,3,4,5,6,7
NOME,JOSE VITOR DA SILVA SANTOS,EDINEY DOS ANJOS BLASQUES ANDRES,PEDRO HENRIQUE BERGAMINI HUPALOWSKI,THIAGO MIGUEL,JORGE HENRIQUE DOMINGUES FREITAG,KEVIN RAFAEL,JOAO PEDRO DA SILVA SANTOS,EDUARDO FRANCISCO MOTA DOS SANTOS
DATA_DE_NASCIMENTO,1028419200000,819244800000,977788800000,860457600000,1020038400000,937526400000,1028419200000,1002672000000
ENDERECO,RUA EURICO GONÇALVES BERBERT,"RUA GERMANO BERLOFFA,190",RUA TAÍ 1178,R. J BONIFACIO N°134,"RUA VEREADOR NELSON ABRÃO, 625",RUA ANTONIO NOVELLI,R. EURICO GONÇALVES BERBERT,"RUA BRAGANÇA, 345, AP204"
CIDADE,MARINGÁ,PAIÇANDU,SARANDI,SARANDI,MARINGÁ,PAIÇANDU,MARINGÁ,MARINGÁ
ESTADO,PARANÁ,PARANÁ,PARANÁ,PARANÁ,PARANÁ,PARANÁ,PARANÁ,PARANÁ
NOME MAE,MARIA DE FATIMA DA SILVA,VERA LUCIA DOS ANJOS BLASQUES ANDRES,ROBERTA JULIANA PEREIRA BERGAMINI,MARINA MARIA,ROSA MARIA DOMINGUES,ELAINE VIGARINI,MARIA DE FATIMA DA SILVA,INÊS MOTA DOS SANTOS
NOME PAI,RODRIGO DOS SANTOS,ELDO JOSE BLASQUES ANDRES,ANDRE DOUGLAS HUPALOWSKI,DEVANIL MIGUEL,JORGE HENRIQUE FREITAG,TATIANO OLIVEIRA,RODRIGO DOS SANTOS,REINALVO FRANCISCO DOS SANTOS
CASADO,NÃO,NÃO,NÃO,NÃO,NENHUM,NÃO,NÃO,NÃO
FILHOS,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO
ESPORTE FAVORITO,BASQUETE,ARRANCADA E CORRIDA DE CARRO,NENHUM,CICLISMO,JUDÔ,FUTEBOL,FUTEBOL,BASQUETE
FRUTA FAVORITA,LARANJA,MORGOTE,MANGA,GOIABA,MANGA,MAÇÃ,MELANCIA,LARANJA
PROFISSAO,ESTUDANTE,ASSISTENTE ADMISTRATIVO E TRANSPORTE,ESTUDANTE,REPOSITOR,ESTUDANTE,VENDEDOR,ESTUDANTE,VENDEDOR
ALTURA,1.81,1.75,1.8,1.78,1.76,1.9,1.82,1.83
IDADE,20,26,21,25,20,23,20,21
PESO,88.0,81.5,92.0,79.4,95.0,120.0,86.6,65.0
ANO,2002,1995,2000,1997,2002,1999,2002,2001
MES,8,12,12,4,4,9,8,10
DIA,4,18,26,8,29,17,4,10

In [ ]:
import json

with open("perguntas_alunos.json", encoding='utf-8') as meu_json:
    dados = json.load(meu_json)
    collection.insert_one(dados.values())



#print(dados) 
# [{'nome': 'José', 'idade': 25}, {'nome': 'Maria', 'idade': 19}]

####Importando DataFrame(df)

In [6]:
df = pd.read_csv('perguntas_alunos - Página1.csv')

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.info()

####Adendo

In [ ]:
def acrescenta(x):
  x += 1
  return x

In [ ]:
acrescenta(2)

In [ ]:
def soma_dois(x,y):
  soma = x + y
  return print(f'a soma do numero {x} mais numero {y} é {soma}')

In [ ]:
soma_dois(4,6)

In [ ]:

def lista_quadrado(lista):
  for i in lista:
    print(i)

In [ ]:
listaNum = [1,2,3,4,5]
lista_quadrado(listaNum)

#### Feature Data Nascimento

In [12]:
df['Data_de_nascimento'] = pd.to_datetime(df['Data_de_nascimento'])

In [13]:
df['ano'] = df['Data_de_nascimento'].dt.year

In [14]:
df['mes'] = df['Data_de_nascimento'].dt.month

In [15]:
df['dia'] = df['Data_de_nascimento'].dt.day

In [16]:
df['nome_do_dia'] = df['Data_de_nascimento'].dt.day_name()

In [ ]:
df['MAE'], df['MAE_SOBRENOME'] = df['nome mae'].split(pat=" ", n=1, expand=True )

In [ ]:
df['nome_do_dia']

####Feature String

In [63]:

df.replace(to_replace= 'NAN', value = 'NENHUM', inplace = True )

####Feature numericos

In [21]:
df['PESO'] = df['PESO'].apply(lambda x:x.replace(",", "."))

In [22]:
df['altura'] = df['altura'].apply(lambda x:x.replace(",", "."))

In [23]:
df['PESO'] = df['PESO'].astype(float)

In [24]:
df['altura'] = df['altura'].astype(float)

In [57]:
df['CASADO'] = df['CASADO'].astype(str)

In [60]:
df['ESPORTE FAVORITO'] = df['ESPORTE FAVORITO'].astype(str)

####Feature Name

In [25]:
df.rename(columns = {'Nome':'NOME'}, inplace=True)

In [26]:
def colunaMaiuscula(coluna, nome_maiusculo):
  df.rename(columns = {coluna: nome_maiusculo}, inplace=True)

In [27]:
colunaMaiuscula('Data_de_nascimento', 'DATA_DE_NASCIMENTO')

In [28]:
colunaMaiuscula('endereco', 'ENDERECO')

In [29]:
colunaMaiuscula('cidade', 'CIDADE')

In [30]:
colunaMaiuscula('estado', 'ESTADO')

In [31]:
colunaMaiuscula('nome mae', 'NOME MAE')

In [32]:
colunaMaiuscula('nome pai', 'NOME PAI')

In [33]:
colunaMaiuscula('casado', 'CASADO')

In [34]:
colunaMaiuscula('filhos', 'FILHOS')

In [35]:
colunaMaiuscula('esporte_favorito', 'ESPORTE FAVORITO')

In [36]:
colunaMaiuscula('fruta favorita', 'FRUTA FAVORITA')

In [37]:
colunaMaiuscula('profissao', 'PROFISSAO')

In [38]:
colunaMaiuscula('altura', 'ALTURA')

In [39]:
colunaMaiuscula('ano', 'ANO')

In [40]:
colunaMaiuscula('mes', 'MES')

In [41]:
colunaMaiuscula('dia', 'DIA')

In [42]:
colunaMaiuscula('nome_do_dia', 'NOME DO DIA')

####Função para deixar tudo maiusculo

In [9]:
def tudo_maiusculo(a):
  for idx, string in enumerate(a):
    a[idx] = string.upper()
  return a

In [ ]:
tudo_maiusculo(df['ENDERECO'])

In [ ]:
tudo_maiusculo(df['NOME'])

In [ ]:
tudo_maiusculo(df['CIDADE'])

In [ ]:
tudo_maiusculo(df['ESTADO'])

In [ ]:
tudo_maiusculo(df['NOME MAE'])

In [ ]:
tudo_maiusculo(df['NOME PAI'])

In [ ]:
tudo_maiusculo(df['CASADO'])

In [ ]:
tudo_maiusculo(df['FILHOS'])

In [ ]:
tudo_maiusculo(df['FRUTA FAVORITA'])

In [ ]:
tudo_maiusculo(df['PROFISSAO'])

In [ ]:
tudo_maiusculo(df['NOME DO DIA'])

In [ ]:
tudo_maiusculo(df['ESPORTE FAVORITO'])

In [ ]:
for i in df.iterrows():
  print(i[1][0])

In [ ]:
df.head()

In [74]:
df.to_json('perguntas_alunos.json', orient = 'index')