<a href="https://colab.research.google.com/github/josevitor676/Pandas_Aula/blob/main/Pandas_Aula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

####Importando DataFrame(df)

In [2]:
df = pd.read_csv('perguntas_alunos - Página1.csv')

In [ ]:
df.head()

In [67]:
df.columns

Index(['NOME', 'DATA_DE_NASCIMENTO', 'ENDERECO', 'CIDADE', 'ESTADO',
       'NOME MAE', 'NOME PAI', 'CASADO', 'FILHOS', 'ESPORTE FAVORITO',
       'FRUTA FAVORITA', 'PROFISSAO', 'ALTURA', 'IDADE', 'PESO', 'ANO', 'MES',
       'DIA', 'NOME DO DIA'],
      dtype='object')

In [ ]:
df.info()

####Adendo

In [ ]:
def acrescenta(x):
  x += 1
  return x

In [ ]:
acrescenta(2)

In [ ]:
def soma_dois(x,y):
  soma = x + y
  return print(f'a soma do numero {x} mais numero {y} é {soma}')

In [ ]:
soma_dois(4,6)

In [ ]:

def lista_quadrado(lista):
  for i in lista:
    print(i)

In [ ]:
listaNum = [1,2,3,4,5]
lista_quadrado(listaNum)

#### Feature Data Nascimento

In [5]:
df['Data_de_nascimento'] = pd.to_datetime(df['Data_de_nascimento'])

In [7]:
df['ano'] = df['Data_de_nascimento'].dt.year

In [8]:
df['mes'] = df['Data_de_nascimento'].dt.month

In [9]:
df['dia'] = df['Data_de_nascimento'].dt.day

In [11]:
df['nome_do_dia'] = df['Data_de_nascimento'].dt.day_name()

In [ ]:
df['MAE'], df['MAE_SOBRENOME'] = df['nome mae'].split(pat=" ", n=1, expand=True )

In [ ]:
df['nome_do_dia']

####Feature String

In [96]:

df.replace(to_replace= 'NAN', value = 'NENHUM', inplace = True )

####Feature numericos

In [13]:
df['PESO'] = df['PESO'].apply(lambda x:x.replace(",", "."))

In [14]:
df['altura'] = df['altura'].apply(lambda x:x.replace(",", "."))

In [15]:
df['PESO'] = df['PESO'].astype(float)

In [16]:
df['altura'] = df['altura'].astype(float)

####Feature Name

In [18]:
df.rename(columns = {'Nome':'NOME'}, inplace=True)

In [21]:
def colunaMaiuscula(coluna, nome_maiusculo):
  df.rename(columns = {coluna: nome_maiusculo}, inplace=True)

In [22]:
colunaMaiuscula('Data_de_nascimento', 'DATA_DE_NASCIMENTO')

In [24]:
colunaMaiuscula('endereco', 'ENDERECO')

In [26]:
colunaMaiuscula('cidade', 'CIDADE')

In [28]:
colunaMaiuscula('estado', 'ESTADO')

In [29]:
colunaMaiuscula('nome mae', 'NOME MAE')

In [30]:
colunaMaiuscula('nome pai', 'NOME PAI')

In [32]:
colunaMaiuscula('casado', 'CASADO')

In [34]:
colunaMaiuscula('filhos', 'FILHOS')

In [36]:
colunaMaiuscula('esporte_favorito', 'ESPORTE FAVORITO')

In [38]:
colunaMaiuscula('fruta favorita', 'FRUTA FAVORITA')

In [39]:
colunaMaiuscula('profissao', 'PROFISSAO')

In [40]:
colunaMaiuscula('altura', 'ALTURA')

In [42]:
colunaMaiuscula('ano', 'ANO')

In [43]:
colunaMaiuscula('mes', 'MES')

In [44]:
colunaMaiuscula('dia', 'DIA')

In [45]:
colunaMaiuscula('nome_do_dia', 'NOME DO DIA')

####Função para deixar tudo maiusculo

In [48]:
def tudo_maiusculo(a):
  for idx, string in enumerate(a):
    a[idx] = string.upper()
  return a

In [ ]:
tudo_maiusculo(df['ENDERECO'])

In [ ]:
tudo_maiusculo(df['NOME'])

In [ ]:
tudo_maiusculo(df['CIDADE'])

In [ ]:
tudo_maiusculo(df['ESTADO'])

In [ ]:
tudo_maiusculo(df['NOME MAE'])

In [ ]:
tudo_maiusculo(df['NOME PAI'])

In [ ]:
tudo_maiusculo(df['CASADO'])

In [ ]:
tudo_maiusculo(df['FILHOS'])

In [ ]:
tudo_maiusculo(df['FRUTA FAVORITA'])

In [ ]:
tudo_maiusculo(df['PROFISSAO'])

In [ ]:
tudo_maiusculo(df['NOME DO DIA'])

In [ ]:
tudo_maiusculo(df['ESPORTE FAVORITO'])

In [ ]:
for i in df.iterrows():
  print(i[1][0])

In [ ]:
df.head()

In [98]:
df.to_csv('df_tratado_final.csv')